body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 474px;
    gap: 0.3px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image\image.png\BackGdBody1.jpeg);
    background-repeat: no-repeat;
    background-size: cover; 
 
      font-family: Arial, sans-serif;
    }


.header {
   
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 35px 42px 35px 104px;
width: 962px;
height: 120px;
flex: none;
order: 0;
flex-grow: 0;
 position: relative;

}
.header-logo {
    display: flex;
    flex-direction: column;
   position: absolute;
    align-items: flex-start;
    min-width: 320px;
    min-height: auto;
    left: 100px;
    top: 50%;
    
}
  


.logo-go-cinema {
 
align-items: flex-start;
padding: 0px;
width: 212px;
height: 39px;


}

.logo-admin {
/* Администраторррская */
width: 216px;
max-width: 826px;
height: 12px;
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
display: flex;
align-items: center;
letter-spacing: 5px;
text-transform: uppercase;
color: #FFFFFF;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 962;
    height: auto;
}

.managament-hall {
    min-width: 962px;
    height: auto;
}
.managament-hall-title {
 
display: flex;
position: relative;
flex-direction: column;
align-items: flex-start;
padding: 35px 0px 35px 0px;
width: 962px;
max-height: 95px;
justify-content: center;
background: #63536C;


}


.managament-hall::before {
content: " ";  
position: absolute;
width: 2px;
left: 60px;
top: 66px;
bottom: 0px;

background: #BC95D6;
z-index: 1;
}

  
.managament-hall-title::before {
/* ::before */
content: "";
display: flex;
box-sizing: border-box;
position: absolute;
width: 44px;
height: 44px;
left: 40px;
background: #FFFFFF;
border: 4px solid #BC95D6;
border-radius: 50%;


}

.managament-hall-arrow {
display: flex;
position: absolute;
width: 24px;
height: 16px;
right: 42px;
top: 40px;

}

.managament-hall-text {

display: flex;
margin-left: 100px;
align-items: flex-start;
flex-direction: column;
justify-content: center;
padding: 0px 584px 0px 0px;

width: 816px;
height: 25px;

}

.managament-hall_text-text {
    display: flex;

}

h2 {
/* Управление залами */

min-width: 242px;
height: auto;
font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 25px;
text-transform: uppercase;
color: #FFFFFF;

}

.managament-hall-arrow::after {
    display: flex;
    width: 24px;
    
    height: 16;
}

.choosing-hall {
 display: flex;
 position: absolute;
 flex-direction: column;

width: 962px;
height: 215px;
background: #EAE9EBF2;

}

.choosing-room-available {
    /* Доступные залы: */
    display: flex;
    position: relative;
    align-items: center;
width: 131px;
height: 18px;
left: 104px;
top: 35px;

}

h5 {
    /* Доступные залы: */
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
color: #000000;
}

.choosing-list-managament {
    /* List */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: absolute;
height: 50px;
left: 129px;
right: 42px;
top: 67px;

}

.choosing-hall-one {
/* Item */
display: flex;
align-items: flex-start;
padding: 0px 732.16px 0px 0px;
gap: 3.84px;
isolation: isolate;

width: 791px;
height: 20px;

}
.choosing-hall-two {
    /* Item */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 732.16px 0px 0px;
    gap: 3.84px;
    isolation: isolate;
    
    width: 791px;
    height: 20px;
    
    }
    
    .choosing-hall-text {
/* Зал 1 */
display: flex;
width: 45px;
max-width: 801px;
height: 18px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;
align-items: center;
text-transform: uppercase;

color: #000000;

    }

.dash-one {
    /* – */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;
align-items: center;
text-transform: uppercase;

color: #000000;

}

.dash-two {
    /* – */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;
align-items: center;
text-transform: uppercase;

color: #000000;


}

.basket-button-one {
    /* Button */
    width: 20px;
height: 20px;
cursor: pointer;
    border-radius: 3px;
    border: none;
    margin: 0;
    background-size: cover;
    
}

.basket-button-one img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.basket-button-two {
    /* Button */
    cursor: pointer;
width: 20px;
height: 20px;
background: #FFFFFF;
border-radius: 3px;
}

.create-hall-button {
/* Button */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 11.2px 31.3815px 11.9px 31.7285px;

position: relative;
width: 159px;
height: 40px;
left: 104px;
top: 139px;

background: #16A6AF;
box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.24), 0px 0px 3px rgba(0, 0, 0, 0.12);
border-radius: 3px;
border: none;
}
.create-hall-text{
    /* Создать зал */

width: 96px;
height: 16px;

font-family: 'Arial';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;

color: #FFFFFF;

}












.chairs-text {
    width: 223px;
height: 16px;
gap: 0px;
opacity: 0px;
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 16px;
text-align: left;

}

.regular-chairs {
    /* Frame 6 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 154px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

    background-image: url(image\image_svg\regular.svg);
    background-repeat: no-repeat;
}

.vip-chairs {
    background-image: url(image\image_svg\vip.svg);
    background-repeat: no-repeat;
}

.blocked-chairs {
    background-image: url(image\image_svg\bloked.svg);
    background-repeat: no-repeat;
}


